<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaOTbGNS9Pip2K201fotvggGzLPxpwNp4</string>
	<key>GCM_SENDER_ID</key>
	<string>973196201266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.persons-app</string>
	<key>PROJECT_ID</key>
	<string>ios-persons-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-persons-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973196201266:ios:9bf9c11a161abac716db2b</string>
	<key>DATABASE_URL</key>
	<string>https://ios-persons-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>